@use "styles/theme/sizes" as sizes;
@use "styles/theme/background-blur" as background-blur;
@use "styles/utils" as utils;

.projectShowcaseSection {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    width: 200vw;
    height: 100%;
    top: 0;
    transform: translateX(-50%);
    transform-origin: top left;
    @include background-blur.light-blur;
  }
}

.projectShowcase {
  position: relative;
  z-index: 2;
  width: sizes.$section-width;
  max-width: sizes.$section-max-width;
  margin: sizes.$section-margin-y auto;
}

.headline {
  margin-top: unset;
  margin-bottom: utils.vw-clamp(10px, xs, 16px);
}

.description {
  margin-top: unset;
  margin-bottom: utils.vw-clamp(10px, xs, 30px);
}
