@use "../../../hero/hero.module.scss" as hero;
@use "../../../../../../styles/theme/typography" as typography;
@use "../../../../../../styles/theme/breakpoints" as breakpoints;
@use "../../../../../../styles/theme/colors" as colors;

.skillBox {
  width: 100%;
  max-width: hero.$max-width;
  margin: hero.$margin-y auto;
  background-color: colors.$dark-gray;
  border: 1px solid colors.$medium-turquoise;
}
