@use "styles/utils" as utils;

.navigationButtonGroup {
  list-style: none;
  display: flex block;
  padding: 0;
  gap: utils.vw-clamp(8px, xs, 20px);
}

.navigationButtonGroupItem {
  position: relative;
}
