@use "styles/theme/typography" as typography;
@use "styles/theme/breakpoints" as breakpoints;
@use "styles/theme/sizes" as sizes;
@use "styles/utils" as utils;

$max-width: 82rem;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: utils.vw-clamp(32px, xs, 40px);
  min-height: calc(100lvh - (#{sizes.$section-margin-y} * 2));
  margin: 0 auto sizes.$section-margin-y;
  max-width: sizes.$section-max-width;

  @include utils.container-query(md) {
    gap: utils.vw-clamp(32px, md, 64px);
    flex-direction: row;
  }

  @include utils.container-query(lg) {
    gap: utils.vw-clamp(32px, lg, 64px);
  }
}

.heroImage {
  --size: #{utils.rem-vw-mix(220px, 0.8, xs)};
  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  @include utils.container-query(sm) {
    --size: #{utils.rem-vw-mix(300px, 0.3, sm)};
  }

  @include utils.container-query(md) {
    --size: #{utils.rem-vw-mix(300px, 0.5, md, 480px)};
  }
  // utils.vw-clamp(220px, xs, 420px);
}

.heroH1 {
  width: min-content;
  text-align: center;
  margin: unset;

  @include utils.container-query(lg) {
    text-align: left;
  }

  * {
    display: block;
  }
}

.heroHeadline {
  @include typography.heroHeadline;
  width: max-content;
}

.heroSubline {
  @include typography.heroSubline;
}
