@use "styles/theme/colors" as colors;
@use "styles/theme/typography" as typography;
@use "styles/utils" as utils;

.accordion {
  position: relative;
  padding: 5%;
  @include typography.p;
  transform-origin: top left;
  z-index: var(--index);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: colors.$dark-gray;
    background: radial-gradient(
      circle,
      rgb(53, 53, 53) 19%,
      rgb(43, 43, 43) 92%
    );
    border: 1px solid colors.$dark-gray-adjacent;
    transform-origin: top left;
  }

  &[data-flip="invert"] {
    transform: translate(calc(var(--dx) * 1px), calc(var(--dy) * 1px));
    &::before {
      transform: translate(calc(var(--dx) * 1px), calc(var(--dy) * 1px))
        scale(var(--dw), var(--dh));
    }
  }

  &[data-flip="play"] {
    transition: transform 0.1s;
    transform: none;

    &::before {
      transition: transform 0.1s;
      transform: none;
    }
  }
}

.accordionHeader {
  position: relative;
  display: flex;
  gap: 0.4vw;
  flex-direction: column;
  gap: utils.rem-vw-mix(8px, 0.5, xs);

  @include utils.media-breakpoint-up(sm) {
    gap: utils.rem-vw-mix(8px, 0.5, sm);
  }

  @include utils.media-breakpoint-up(md) {
    gap: utils.rem-vw-mix(8px, 0.5, md);
  }

  @include utils.media-breakpoint-up(lg) {
    gap: utils.rem-vw-mix(8px, 0.5, lg);
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  h3 {
    margin: unset;
  }

  .durationLocation {
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
    align-items: flex-end;

    svg {
      display: inline-block;
      margin-right: 0.2vw;

      width: utils.rem-vw-mix(12px, 0.5, xs);

      @include utils.media-breakpoint-up(sm) {
        width: utils.rem-vw-mix(12px, 0.5, sm);
      }

      @include utils.media-breakpoint-up(md) {
        width: utils.rem-vw-mix(12px, 0.5, md);
      }

      @include utils.media-breakpoint-up(lg) {
        width: utils.rem-vw-mix(12px, 0.5, lg);
      }
    }
  }

  button {
    background: transparent;
    border: unset;
    color: colors.$white;
    padding: unset;
    text-align: left;
    @include typography.h6;

    &::after {
      content: "";
      inset: 0;
      position: absolute;
      cursor: pointer;
    }
  }

  .stationIcon {
    display: block;
    padding: 3%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: colors.$white;
    display: grid;
    place-items: center;

    width: utils.vw-clamp(40px, xs);

    @include utils.container-query(sm) {
      width: utils.vw-clamp(40px, sm);
    }

    @include utils.container-query(md) {
      width: utils.vw-clamp(40px, md);
    }

    @include utils.container-query(lg) {
      width: utils.vw-clamp(40px, lg);
    }

    @include utils.container-query(xl) {
      width: utils.vw-clamp(40px, xl);
    }
  }

  .accordionToggleIcon {
    width: utils.vw-clamp(12px, xs, 16px);
    transition: transform 0.6s;
  }

  &._active {
    .accordionToggleIcon {
      transform: rotate(180deg) translateY(2px);
    }
  }

  &:hover,
  &:focus-visible,
  &._active {
    h3 button {
      color: colors.$medium-turquoise;
    }

    .accordionToggleIcon {
      color: colors.$medium-turquoise;
    }
  }

  h3 button {
    &:hover,
    &:focus-visible {
      color: colors.$medium-turquoise;
    }
  }
}

.accordionPanel {
  position: relative;
  display: none;
  padding-top: 10%;

  &._active {
    display: block;
  }
}
