.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: rgb(1 4 4);
  background: linear-gradient(
    160deg,
    rgb(1 4 4) 0%,
    rgb(3 16 16) 20%,
    rgb(9 49 52) 59%,
    rgb(15 82 87) 79%,
    rgb(21 115 122) 89%,
    rgb(23 132 140) 100%
  );
  background-attachment: fixed;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/images/grain.png") repeat;
    opacity: 0.1;
  }
}
