@use "src/components/sections/hero/hero.module.scss" as hero;
@use "styles/theme/typography" as typography;
@use "styles/theme/breakpoints" as breakpoints;
@use "styles/theme/colors" as colors;
@use "styles/theme/sizes" as sizes;
@use "styles/utils" as utils;

.stationBox {
  position: relative;
  background-color: colors.$dark-gray;
  border: 1px solid colors.$medium-turquoise;
  display: flex;
  flex-direction: column;
  height: fit-content;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.3;
    mix-blend-mode: overlay;
    background: url(/images/grain.png) repeat;
    pointer-events: none;
  }
}
