@use "styles/theme/colors" as colors;
@use "styles/utils" as utils;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul,
ol {
  margin: unset;
  padding: unset;
  list-style: none;
}

button {
  border: transparent;
  background: none;
}
