@use "styles/theme/colors" as colors;
@use "styles/theme/typography" as typography;
@use "styles/theme/sizes" as sizes;

.legalLink {
  background-color: transparent;
  border: unset;
  padding: 0;
  @include typography.p;
  color: colors.$white;
  cursor: pointer;
}
