@use "styles/theme/colors" as colors;
@use "styles/theme/typography" as typography;
@use "styles/utils" as utils;

.tab {
  background-color: colors.$dark-gray;
  background: radial-gradient(circle, rgb(53, 53, 53) 19%, rgb(43, 43, 43) 92%);
  border: 1px solid colors.$medium-turquoise;
  width: 90%;
  display: none;
  overflow: hidden;

  &._active {
    display: block;
  }
}

.iconList {
  --items-per-row: 4;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(var(--items-per-row), minmax(0, 1fr));
  gap: 2rem;
  padding: var(--list-gap);
}

.iconListItem {
  aspect-ratio: 1;

  @include utils.container-query(lg) {
  }
}

.skill {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  @include typography.skill-title;

  --animation-duration: 0.3;
  --animation-stagger: 0.2;
  animation-name: fade-in;
  animation-duration: calc(var(--animation-duration) * 1s);
  animation-delay: calc(
    var(--index) * (var(--animation-duration) - var(--animation-stagger)) * 1s
  );
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
  opacity: 0;

  .skillTitle {
    display: grid;
    place-content: center;
    text-align: center;
    line-height: 1.2;
    filter: drop-shadow(
      0px 2px 4px rgb(var(--color-r), var(--color-g), var(--color-b))
    );
  }

  .skillIcon {
    display: grid;
    place-content: initial;
    width: 7vw;
    aspect-ratio: 1;

    &::before {
      content: "";
      width: 150%;
      height: 150%;
      transform: translate(-15%, -15%);
      grid-area: 1/1;
      background: radial-gradient(
        circle,
        rgba(var(--color-r), var(--color-g), var(--color-b), 0.2) 0%,
        rgba(0, 0, 0, 0) 50%
      );
    }

    svg {
      grid-area: 1/1;
      color: rgb(var(--color-r), var(--color-g), var(--color-b));
    }
  }
}

@keyframes fade-in {
  from {
    transform: translate(-250px, 0);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
