@use "styles/theme/typography" as typography;
@use "styles/theme/colors" as colors;
@use "styles/theme/breakpoints" as breakpoints;
@use "styles/utils" as utils;

.tabMenuItem {
  @include typography.tab-menu-item;
  background-color: unset;
  border: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 1rem 0.2rem 0;
  text-align: right;
  color: colors.$white;
  min-height: 48px;
  min-width: 48px;

  @include utils.media-breakpoint-up(md) {
    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 1px;
      background-color: currentColor;
    }
  }

  &._active,
  &:hover,
  &:focus-visible {
    color: colors.$medium-turquoise;
  }

  span {
    display: inline;
  }
}

ul:hover {
  & > li .tabMenuItem:not(:is(:hover, :focus-visible)) {
    color: colors.$white;
  }
}
