@use "src/components/sections/hero/hero.module.scss" as hero;
@use "styles/theme/typography" as typography;
@use "styles/theme/breakpoints" as breakpoints;
@use "styles/theme/colors" as colors;
@use "styles/theme/sizes" as sizes;
@use "styles/theme/background-blur" as background-blur;
@use "styles/utils" as utils;

.skillBoxSection {
  position: relative;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    width: 200vw;
    height: 100%;
    top: 0;
    transform: translateX(-50%);
    transform-origin: top left;
    @include background-blur.light-blur;
  }

  &[data-flip="invert"] {
    &::after,
    .skillBox::before,
    .skillBox::after {
      transform: translate(calc(var(--dx) * 1px), calc(var(--dy) * 1px))
        scale(var(--dw), var(--dh));
    }
  }

  &[data-flip="play"] {
    &::after,
    .skillBox::before,
    .skillBox::after {
      @include utils.not-reduced-motion {
        transition: transform 0.5s;
      }
      transform: none;
    }
  }
}

.skillBox {
  position: relative;
  width: sizes.$section-width;
  max-width: sizes.$section-max-width;
  margin: sizes.$section-margin-y auto;
  display: flex block;
  padding: 3% 5%;
  flex-direction: column;
  z-index: 1;

  @include utils.container-query(md) {
    flex-direction: row;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    transform-origin: top left;
  }

  &::before {
    background-color: colors.$dark-gray;
    border: 1px solid colors.$primary;
    z-index: -1;
  }

  &::after {
    opacity: 0.6;
    mix-blend-mode: multiply;
    background: url(/assets/images/grain.webp) repeat;
    pointer-events: none;
  }
}

.sidebar {
  display: flex block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: utils.vw-clamp(6px, md);
}

.sidebarHeadline {
  @include typography.h3;
  margin: unset;

  @include utils.media-breakpoint-up(md) {
    padding: 0 utils.vw-clamp(10px, md);
    align-self: flex-end;
  }
}
