@use "styles/theme/sizes" as sizes;

$padding-x: 5%;

.navigation {
  display: flex;
  padding: 2% $padding-x;
  justify-content: space-between;
  align-items: center;
  max-width: sizes.$max-site-width;
}
