@use "styles/utils" as utils;

.tabMenuMobile {
  list-style: none;
  padding: unset;
  z-index: 1;

  @include utils.media-breakpoint-up(md) {
    display: none;
  }
}

.tabMenuDesktop {
  display: none;

  @include utils.media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: utils.vw-clamp(12px, md);

    @include utils.media-breakpoint-up(lg) {
      gap: utils.vw-clamp(12px, lg);
    }
  }
}
