@use "styles/utils" as utils;

.tabMenuMobile {
  list-style: none;
  padding: unset;
  z-index: 1;

  @include utils.media-breakpoint-up(md) {
    display: none;
  }
}

.tabMenuDesktop {
  display: none;

  @include utils.media-breakpoint-up(md) {
    list-style: none;
    padding: unset;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-end;
  }
}
