@use "styles/theme/colors" as colors;
@use "styles/theme/hover" as hover;
@use "styles/theme/typography" as typography;
@use "styles/utils" as utils;

.tabMenuMobile {
  list-style: none;
  padding: unset;
  z-index: 2;
  position: relative;

  @include utils.media-breakpoint-up(md) {
    display: none;
  }
}

.tabMenuMobileCombobox {
  display: flex block;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  @include typography.navigationItem;
  border: 1px solid colors.$primary;
  padding: utils.vw-clamp(12px, xs, 16px);
  min-width: utils.vw-clamp(240px, xs, 240px);
  margin-bottom: utils.vw-clamp(16px, md);
  position: relative;
  color: colors.$white;
  gap: utils.vw-clamp(8px, xs);

  @include utils.media-breakpoint-up(md) {
    padding: utils.vw-clamp(10px, md) utils.vw-clamp(16px, md);
  }

  &:hover {
    color: colors.$primary;
  }

  &[aria-expanded="true"] {
    .comboboxIcon {
      transform: rotate(180deg) translateY(2px);
    }
  }
}

.comboboxIcon {
  width: utils.vw-clamp(12px, xs, 16px);
  @include utils.not-reduced-motion {
    transition: transform 0.6s;
  }
}

.tabMenuMobileLabel {
  @include utils.visually-hidden;
}

.tabMenuMobileListBox {
  padding: unset;
  list-style: none;
  display: block;
  position: absolute;
  min-width: 100%;
  margin-top: utils.vw-clamp(-16px, md);
  left: 50%;
  border: 1px solid colors.$primary;
  color: colors.$light-white;
  padding: unset;
  list-style: none;
  @include utils.not-reduced-motion {
    animation: listBoxOpen 0.2s ease-in-out forwards;
  }

  @include utils.prefers-reduced-motion {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  &:hover {
    .languageToggleListboxItem[aria-selected="true"]:not(:hover) {
      color: colors.$white;
    }
  }

  &[aria-hidden="true"] {
    display: none;
  }
}

.tabMenuMobileListBoxItem {
  cursor: pointer;
  background-color: colors.$dark-gray;
  @include typography.tabMenuCombobox;
  border: 1px solid colors.$dark-gray-adjacent;
  padding: utils.vw-clamp(8px, xs, 8px) utils.vw-clamp(12px, xs, 16px);

  &[aria-selected="true"] {
    color: colors.$primary;
  }

  button {
    width: 100%;
  }
}

@keyframes listBoxOpen {
  0% {
    transform: translate(-50%, -10px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.tabMenuDesktop {
  display: none;

  @include utils.media-breakpoint-up(md) {
    display: flex block;
    flex-direction: column;
    align-items: flex-end;
    gap: utils.vw-clamp(12px, md);

    @include utils.media-breakpoint-up(lg) {
      gap: utils.vw-clamp(4px, lg);
    }
  }
}
