$xs: 20em; // 320px
$sm: 30em; // 480px
$md: 48em; // 768px
$lg: 62em; // 992px
$xl: 80em; // 1280px
$xxl: 96em; // 1536px
$xxxl: 120em; // 1920px

$breakpointMap: (
  "xs": $xs,
  "sm": $sm,
  "md": $md,
  "lg": $lg,
  "xl": $xl,
  "xxl": $xxl,
  "xxxl": $xxxl,
);
