@use "styles/theme/background-blur" as *;
@use "styles/theme/sizes" as sizes;
@use "styles/utils" as utils;

.appHeader {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.appFooter {
  position: sticky;
  bottom: 0;
}

body._scrolled {
  .appHeader {
    @include darken-blur;
  }
}

body._resizing {
  * {
    @include utils.not-reduced-motion {
      transition: all 1s;
    }
  }
}
