$sm: "30em"; // 460px
$md: "48em"; // 768px
$lg: "62em"; // 992px
$xl: "80em"; // 1280px
$xxl: "96em"; // 1536px

$breakpointMap: (
  "sm": $sm,
  "md": $md,
  "lg": $lg,
  "xl": $xl,
  "xxl": $xxl,
);
