@use "./fonts" as fonts;
@use "./breakpoints" as breakpoints;
@use "./utils" as utils;

@mixin h1 {
  font-family: fonts.$newake;
  font-style: normal;
  font-weight: 400;
  font-size: calc(2rem + 4vw);

  @include utils.media-breakpoint-up(sm) {
    font-size: calc(4rem + 1.6vw);
  }

  @include utils.media-breakpoint-up(lg) {
    font-size: calc(4rem + 1.6vw);
  }

  @include utils.media-breakpoint-up(lg) {
    font-size: calc(4rem + 1.6vw);
  }

  @include utils.media-breakpoint-up(xl) {
    font-size: calc(4rem + 2vw);
  }
}

@mixin h1-shrunk {
  font-size: 2.5rem;
}

@mixin h2 {
  font-family: fonts.$cosima;
  font-style: normal;
  font-weight: 800;
  font-size: calc(1rem + 2vw);
  margin: unset;

  @include utils.media-breakpoint-up(sm) {
    font-size: calc(2rem + 2vw);
  }

  @include utils.media-breakpoint-up(lg) {
    font-size: calc(2rem + 2vw);
  }

  @include utils.media-breakpoint-up(lg) {
    font-size: calc(2rem + 2vw);
  }

  @include utils.media-breakpoint-up(xl) {
    font-size: calc(2rem + 2vw);
  }
}

@mixin subline {
  font-family: fonts.$cosima;
  font-weight: 400;
  line-height: 2.5rem;
  font-size: calc(1rem + 1vw);

  @include utils.media-breakpoint-up(lg) {
    font-size: calc(1rem + 0.8vw);
  }

  @include utils.media-breakpoint-up(xl) {
    font-size: calc(1rem + 1vw);
  }
}

@mixin tab-menu-item {
  font-family: fonts.$cosima;
  font-weight: 400;
  line-height: 1rem;
  font-size: calc(1rem + 1vw);

  @include utils.media-breakpoint-up(lg) {
    font-size: calc(1rem + 0.8vw);
  }

  @include utils.media-breakpoint-up(xl) {
    font-size: calc(1rem + 1vw);
  }
}

@mixin skill-title {
  font-family: fonts.$cosima;
  font-weight: 400;
  line-height: 1rem;
  font-size: calc(0.5rem + 1vw);

  @include utils.media-breakpoint-up(lg) {
    font-size: calc(0.5rem + 0.8vw);
  }

  @include utils.media-breakpoint-up(xl) {
    font-size: calc(0.5rem + 1vw);
  }
}
