@use "./fonts" as fonts;
@use "./breakpoints" as breakpoints;
@use "./utils" as utils;

@mixin h1 {
  font-family: fonts.$newake;
  font-style: normal;
  font-weight: 400;
  font-size: utils.rem-vw-mix(32px, 0.75, xs);
}

@mixin standard-headline {
  font-family: fonts.$cosima;
  font-style: normal;
  font-weight: 800;
}

@mixin h2 {
  @include standard-headline;
  font-size: utils.rem-vw-mix(24px, 0.75, xs);
}

@mixin h3 {
  @include standard-headline;
  font-size: utils.rem-vw-mix(20px, 0.75, xs);
}

@mixin h4 {
  @include standard-headline;
  font-size: utils.rem-vw-mix(16px, 0.75, xs);
}

@mixin h5 {
  @include h4;
}

@mixin h6 {
  @include h4;
}

@mixin p {
  font-family: fonts.$cosima;
  font-style: normal;
  font-weight: 200;
  font-size: utils.rem-vw-mix(12px, 0.75, xs);

  @include utils.media-breakpoint-up(md) {
    font-size: utils.rem-vw-mix(20px, 0.75, md);
  }
}

@mixin subline {
  font-family: fonts.$cosima;
  font-weight: 400;
  font-size: utils.rem-vw-mix(12px, 0.75, xs);
}

@mixin tab-menu-item {
  font-family: fonts.$cosima;
  font-weight: 400;
  line-height: 1rem;
  font-size: utils.rem-vw-mix(8px, 0.75, xs);
}

@mixin skill-title {
  font-family: fonts.$cosima;
  font-weight: 400;
  line-height: 1rem;
  font-size: utils.rem-vw-mix(4px, 0.75, xs);
}
