@use "styles/theme/colors" as colors;
@use "styles/theme/typography" as typography;
@use "styles/theme/sizes" as sizes;

.copyright {
  display: block;
  position: relative;
  padding: sizes.$sticky-padding-y sizes.$sticky-padding-x;
  margin: 0 auto;
  color: colors.$white;
  max-width: sizes.$max-site-width;
}
