@use "sass:map";
@use "styles/utils/get-breakpoint-width-by-name" as *;
@use "styles/utils/vw" as *;
@use "styles/utils/rem" as *;
@use "styles/utils/strip-unit" as *;
@use "styles/theme/breakpoints" as *;

@function rem-vw-mix(
  $size,
  $dynamic-portion,
  $breakpoint,
  $maximum-size: null
) {
  $minimum-size: $size;
  $rem-part: rem((strip-unit($size) - (strip-unit($size) * $dynamic-portion)));
  $vw-part: vw(
    (strip-unit($size) * $dynamic-portion),
    (strip-unit(get-breakpoint-width-by-name($breakpoint)) * 16)
  );
  $rem-vw-mix: calc(#{$rem-part} + #{$vw-part});

  @if $vw-part != 0vw and $maximum-size == null {
    @return max(#{$rem-vw-mix}, #{rem($minimum-size)});
  } @else if $vw-part != 0vw and $maximum-size != null {
    @return clamp(#{rem($minimum-size)}, #{$rem-vw-mix}, #{rem($maximum-size)});
  } @else if $maximum-size != null and $size > $maximum-size {
    @return rem($maximum-size);
  } @else {
    @return rem($size);
  }
}
