@use "styles/theme/colors" as colors;
@use "styles/theme/hover" as hover;
@use "styles/utils" as utils;
@use "../IconLink/iconLink.module.scss" as iconLink;
@use "styles/theme/typography" as typography;

.languageToggle {
  @include iconLink.style;
  background: transparent;
  border: none;
  position: relative;

  &[aria-expanded="true"] {
    color: colors.$primary;
  }
}

.languageToggleListbox {
  position: absolute;
  margin-top: #{utils.vw-clamp(6px, xs, 20px)};
  left: 50%;
  border: 1px solid colors.$primary;
  color: colors.$light-white;
  padding: unset;
  list-style: none;
  background: colors.$rich-black;

  @include utils.not-reduced-motion {
    animation: listBoxOpen 0.2s ease-in-out forwards;
  }

  @include utils.prefers-reduced-motion {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  &:hover {
    .languageToggleListboxItem[aria-selected="true"]:not(:hover) {
      color: colors.$white;
    }
  }
}

@keyframes listBoxOpen {
  0% {
    transform: translate(-50%, -10px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.languageToggleListboxItem {
  cursor: pointer;
  background: colors.$rich-black;
  @include typography.navigationItem;
  padding: utils.vw-clamp(8px, xs, 8px);

  @include utils.media-breakpoint-up(md) {
    margin: utils.vw-clamp(5px, md) utils.vw-clamp(5px, md);
    padding: utils.vw-clamp(5px, md) utils.vw-clamp(11px, md);
  }

  &[aria-selected="true"] {
    color: colors.$primary;
  }

  &:not(:first-child) {
    border-top: 1px solid colors.$dark-gray-adjacent;
  }
}
