@use "./theme/colors" as colors;
@use "./theme/breakpoints" as breakpoints;

body {
  width: 100%;
  min-width: breakpoints.$xs;
  min-height: 100vh;
  background: rgb(1 4 4);
  color: colors.$white;
  container-type: inline-size;
}
