@font-face {
  font-family: newake;
  font-display: swap;
  src: url("/fonts/Newake-Regular.woff2") format("woff2");
}

@font-face {
  font-family: cosima;
  font-display: swap;
  src: url("/fonts/Cosima-Hairline.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: cosima;
  font-display: swap;
  src: url("/fonts/Cosima-UltraThin.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: cosima;
  font-display: swap;
  src: url("/fonts/Cosima-Thin.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: cosima;
  font-display: swap;
  src: url("/fonts/Cosima-UltraLight.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: cosima;
  font-display: swap;
  src: url("/fonts/Cosima-UltraLight.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: cosima;
  font-display: swap;
  src: url("/fonts/Cosima-Light.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: cosima;
  font-display: swap;
  src: url("/fonts/Cosima-Medium.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: cosima;
  font-display: swap;
  src: url("/fonts/Cosima-Regular.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: cosima;
  font-display: swap;
  src: url("/fonts/Cosima-Bold.woff2") format("woff2");
  font-weight: 900;
}

$newake: newake, arial;
$cosima: cosima, arial;
